@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --fonte1: 'Roboto', sans-serif;
}

.principal{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100vw;
    font-family: var(--fonte1);
   

}

.divPesquisa{
    padding: 20px;
    background-color: rgb(77, 216, 77);
    width: calc(100% - 40px);
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.pesquisa{
    width: 300px;
    padding: 4px 0px;
}



#bloco-plantas{
    margin: 0px auto;
    height: 100vh;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
    justify-content: center;
    background: url(https://i.pinimg.com/originals/4a/e6/27/4ae62766ba7ceb08ea0128b0f4a4953b.png) rgb(166, 216, 166) ;
    background-size: 250px;
    
}

.divPlanta{
    display: flex;
    flex-flow: column;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    margin: 10px;
    justify-content: top;
    align-items: center;
    width: 190px;
    height: 350px;
    gap: 13px;
    font-size: 1rem;
    flex-basis:px;
}

.imagemPlanta{
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.tituloPlanta{
    font-size: 1.25rem;
    font-weight: 700;
}

strong,.tituloPlanta{
    text-decoration: underline rgba(0, 0, 0, 0.452) 1.5px ;

}


.botaoPlanta{
    background-color: rgb(95, 187, 95);
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 3px 10px;
}