#bloco-plantas{
    margin: auto;
    height: 500px;
    width: 500px;
    background-color: red;
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
    justify-content: center;
}

.divPlanta{
    display: flex;
    flex-flow: column wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 400px;
}